<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 350px; margin-top: 100px; margin-bottom: 50px;">
        <h2 class="text-center mb-4">Register</h2>
        <form>
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" ng-model="user.firstname" placeholder="Please enter your first name" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" ng-model="user.lastname" placeholder="Please enter your last name" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Date of Birth</label>
                <input type="date" class="form-control" ng-model="user.dateOfBirth" placeholder="Please enter your date of birth" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" ng-model="user.email" placeholder="Please enter your email" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" ng-model="user.username" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" id="password" class="form-control" ng-model="user.password" required>
            </div>
            <button ng-click="register()" type="submit" class="btn btn-primary w-100 mt-2">Register</button>
            <button ng-click="BackToLogin()" type="submit" class="btn btn-secondary w-100 mt-2">Back</button>
        </form>
        <p class="text-danger text-center mt-3">{{errorMessage}}</p>
    </div>
</div>