<div>
    <button ng-click="ShowUserPost()">Add Post</button>
        <button ng-click="ShowUserPost()">Add Recipe</button>
    <textarea ng-model="UserPost" class="form-control" ng-hide="ShowPost == false" placeholder="What is on your mind?"></textarea>
    <button ng-click="ShowUserPost()" ng-hide="ShowPost == false">Post</button>
    <button ng-click="HideUserPost()" ng-hide="ShowPost == false">Cancel</button>
    <div id="scrollableDiv"
        style="max-height: 600px; overflow-y: auto; border: 1px solid #ddd; margin-top: 10px;"
        infinite-scroll="loadMore()"
        infinite-scroll-distance="1"
        infinite-scroll-container="'#scrollableDiv'">
        <div ng-repeat="recipe in recipes track by recipe.recipeId">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <p class="card-text">This is some test text</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>