<div style="padding: 8px;">
    <h5>Feed</h5>
  <button style="height:30px; width:100px; font-size:12px;" class="mainbutton" ng-click="ShowUserPost()"><i class="fa-solid fa-plus"></i>&nbsp;Add Post</button>
  <button style="height:30px; width:120px; font-size:12px;" class="mainbutton" ng-click="AddRecipe()"><i class="fa-solid fa-folder-closed"></i>&nbsp;Add Recipe</button>
  <textarea ng-model="UserPost" class="form-control" ng-hide="ShowPost == false" placeholder="What is on your mind?"></textarea>
  <button class="custombutton1" ng-click="PostUserPost()" ng-hide="ShowPost == false">Post</button>
  <button class="custombutton1" ng-click="HideUserPost()" ng-hide="ShowPost == false">Cancel</button>
  <div id="scrollableDiv" style="max-height: 580px; overflow-y: auto; border: 1px solid #ddd; margin-top: 10px;"infinite-scroll="loadMore()"infinite-scroll-distance="1"infinite-scroll-container="'#scrollableDiv'">
    <!-- Feed Items -->
    <div ng-repeat="item in feed track by (item.type + '-' + item.id)">
      <div class="card">
        <div class="card-body">
          <!-- Recipe -->
          <div ng-if="item.type === 'recipe'">
            <p class="card-title">{{item.title}}</p>
            <p>{{item.fullName}}</p>
            <!-- Recursive Comments -->
            <div ng-repeat="comment in item.comments | limitTo:(item.commentsExpanded ? item.comments.length : 3)" ng-include="'commentTree.html'"></div>
            <button style="padding: 8px;" class="text-button" ng-click="toggleLike(item)"><i class="fa-solid"ng-class="{'fa-thumbs-up': !item.likedByUser,'fa-thumbs-down': item.likedByUser === true}"></i>&nbsp;{{item.likesCount}}</button>
            <button style="padding: 8px;" class="text-button" ng-click="item.commentsExpanded = true"><i class="fa-solid fa-message"></i>&nbsp;{{item.commentsCount}}</button>
            <button class="text-button" ng-if="item.commentsExpanded" ng-show="item.comments.length > 0" ng-click="item.commentsExpanded = false">Show less</button>
            <!-- Top-level comment box -->
            <textarea ng-if="item.commentsExpanded" style="width: 100%;" ng-model="newComment[item.id]" placeholder="Add a comment..."></textarea>
            <button ng-if="item.commentsExpanded" class="custombutton1"  ng-click="postComment(item)">Post</button>
            <button ng-if="item.commentsExpanded" class="custombutton1"  ng-click="item.commentsExpanded = false">Cancel</button>
          </div>
          <!-- Post -->
          <div ng-if="item.type === 'post'">
            <h5>{{item.fullName}}</h5>
            <p class="card-text">{{item.content}}</p>
            <!-- Recursive Comments -->
            <button style="padding: 8px;" class="text-button" ng-click="toggleLike(item)"><i class="fa-solid"ng-class="{'fa-thumbs-up': !item.likedByUser,'fa-thumbs-down': item.likedByUser === true}"></i>&nbsp;{{item.likesCount}}</button>
            <div ng-repeat="comment in item.comments | limitTo:(item.commentsExpanded ? item.comments.length : 0)" ng-include="'app/directives/comments.html'" ng-init="isReply = false"></div>
            <button style="padding: 8px;" ng-hide="item.commentsExpanded" class="text-button" ng-click="item.commentsExpanded = true"><i class="fa-solid fa-message"></i>&nbsp;{{item.commentsCount}}</button>
            <button class="text-button" ng-if="item.commentsExpanded" ng-show="item.comments.length > 0" ng-click="item.commentsExpanded = false">Show less</button>
            <textarea ng-if="item.commentsExpanded" style="width: 100%;" ng-model="newComment[item.id]" placeholder="Add a comment..."></textarea>
            <button ng-if="item.commentsExpanded" class="custombutton1"  ng-click="postComment(item)">Post</button>
            <button ng-if="item.commentsExpanded" class="custombutton1"  ng-click="item.commentsExpanded = false">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>